<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paypal App</title>
</head>
<body>
    <h1>Book</h1>
    <h2>Buy for $25</h2>
    <form action="/pay" method="post">
        <input type="submit"value="Buy">
    </form>
</body>
</html>